<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">后台管理</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <p class="navbar-text navbar-left" th:text="${session.adminAccount}"></p>
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="#" th:href="@{/admin/out}">退出</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" >
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#" th:href="@{/admin/albums}">相册管理</a></li>
                <li><a href="#" th:href="@{/admin/photos}">图片管理</a></li>
                <li><a href="#" th:href="@{/admin/albums}">Export</a></li>
            </ul>
        </div>
        <div class="col-sm-9  col-md-10  main">
<div th:if="${msg}!=null" class="alert alert-danger">[[${msg}]]</div><br/>
<form th:action="@{/admin/album}" method="post" enctype="multipart/form-data" class="form-horizontal">
    <input type="hidden" name="_method" value="put" th:if="${album!=null}">
    <input type="hidden" name="id" th:if="${album!=null}" th:value="${album.id}">

    <div class="form-group">
        <label class="col-sm-2 control-label">相册名</label><input type="text" name="name" th:value="${album!=null}?${album.name}">
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">介绍</label><input type="text" name="info" th:value="${album!=null}?${album.info}">
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">提示</label><input type="text" name="tip" th:value="${album!=null}?${album.tip}">
    </div>
    <div class="form-group">
        <label th:if="${album==null}" class="col-sm-2 control-label">封面</label><input type="file" name="cover" th:if="${album==null}">
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">确认</button>
        </div>
    </div>
</form>
        </div>
    </div>
</div>
</body>
</html>